.hero {
  background-color: #c172ff;
  min-height: 450px;
  height: 40vh;
}

.page {
  background-color: #c172ff;
  color:white;

}
.page h2 {
  padding-top: 20px;
  color: black;
}

.shadow {
  box-shadow: 2px -2px 80px 55px rgba(29, 23, 34, 1);
}

.screen1 {
  border: 1px solid #aeaab2 !important;
}

.screen2 {
  border-radius: 10px !important;
}

.image > span {
  overflow: visible !important;
}

.image > span > img {
  border-radius: var(--m);
  /* box-shadow: 0 4px 16px 55px rgba(0, 0, 0, 0.15); */
  box-shadow: 0 9px 40px 16px rgba(0, 0, 0, 0.15);
}

.mainTitle {
  font-size: 4rem;
  color: white;
  text-align: center;
  line-height: normal;
  padding: 0px 20px;
}

.subTitle {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  line-height: normal;
  padding: 0px 20px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .mainTitle {
    font-size: 2.75rem;
    padding: 0px 10px;
  }
  .hero {
    height: 75vh;
  }
}

.mainTitle__black {
  color: #1f122b;
  padding: 0px 10px;
}
